<footer>
  
  <div class="grid-container">
  <div class="grid-x grid-padding-y align-justify align-middle">
  	<div class="shrink cell">
      <ul class="vertical medium-horizontal menu">
        <li><a href="mailto:sales.person@ladbiblegroup.com">sales.person@ladbiblegroup.com</a></li>
        <li><a href="tel:07946520521">+44 (0)7946 520 521</a></li>
        <li><a href="http://www.ladbiblegroup.com" target="_blank">ladbiblegroup.com</a></li>
      </ul>
  	</div>
  	
  	<div class="shrink cell">
    	<ul class=" menu">
      <li><a href="http://www.ladbiblegroup.com" target="_blank"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a></li>
      </ul>
  	</div>
  	
  </div>
  </div>
  
</footer>