@font-face {
  font-family: 'Helvetica Neue';
  src: 
  url('../fonts/helveticaneueltpro-roman.woff2') format('woff2'), 
  url('../fonts/helveticaneueltpro-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Text Medium';
  src: 
  url('../fonts/druktext-medium.woff2') format('woff2'), 
  url('../fonts/druktext-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Wide Super';
  src: 
  url('../fonts/druk-wide-super.woff2') format('woff2'), 
  url('../fonts/druk-wide-super.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}