---
layout: default
---

<!-- Hero -->
<section class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, {{page.hero-image-opacity}}), rgba(0, 0, 0, {{page.hero-image-opacity}})), url({{page.hero-image}})">
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10 medium-10 cell hero__text text-center" data-aos="fade-up" data-aos-delay="250">
      <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
      <h1><span>Media Kit</span> 2017</h1>
    </div> 
  </div> 
</section>
<!-- End Hero -->

<!-- Who -->
<section class="who">
  <div class="grid-x grid-padding-x grid-padding-y">
    
    <div class="small-12 medium-4 medium-offset-1 cell" data-aos="fade-right">
      <h1>Who Are We?</h1>
      <h2>We're Changing the <span>Game</span></h2>
      <p>TheLADbible Group started out as a single Facebook page in 2012 and has grown to become a multi-brand, multi-channel social and mobile publisher with close to a hundred employees in 2016 across offices in London and Manchester.</p>
    </div>
  
    <div class="small-12 medium-5 medium-offset-1 cell" data-aos="fade-left">
      <img src="{{page.who-image}}" alt="Who Are We?"/>
    </div>
  
  </div>
</section>
<!-- End Who  -->

<!-- Quotes -->
<section class="quotes" style="background-image: url({{page.quotes-image}})">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle" style="height: 100%;">
    <div class="small-12 medium-8 cell text-center" data-aos="fade-up">
      <h2>"<span class="red">Redefining</span> the way young people consume content"</h2>
      <div data-aos="fade-up" data-aos-delay="250"><svg class="icon icon-the-guardian"><use xlink:href="/assets/icons/symbol-defs.svg#icon-the-guardian"></use></svg></div>
    </div>
  </div>
</section>
<!-- End Quotes  -->

<!-- Audience -->
<section class="audience">
    <div class="grid-x grid-padding-x">
    
      <div class="small-12 medium-6 cell" data-aos="fade-right">
        <div class="grid-x">
        <div class="small-12 medium-10 medium-offset-2 cell">
        <h1>Our Audience</h1>
        <h2>In 2017, We're <span class="black">Redefining</span> <span class="red">Lad</span></h2>
        <p>TheLADbible Group started out as a single Facebook page in 2012 and has grown to become a multi-brand, multi-channel social and mobile publisher with close to a hundred employees in 2016 across offices in London and Manchester.</p>
        </div>
        </div>
        
        <div class="grid-x">
        <div class="small-12 cell">
        <img src="{{page.audience-01-image}}" alt="Audience" data-aos="fade-up" data-aos-delay="250"/>
        </div>
        </div>
      </div>
    
      <div class="small-12 medium-offset-1 medium-4 cell" data-aos="fade-left">
        <img src="{{page.audience-02-image}}" alt="Audience" data-aos="fade-up" data-aos-delay="250"/>
        <img src="{{page.audience-03-image}}" alt="Audience" data-aos="fade-up" data-aos-delay="250"/>
      </div>
      
    </div>
</section>
<!-- End Audience  -->

<!-- Manifesto -->
<section class="manifesto">

    <div class="grid-x grid-padding-x">
    
      <div class="small-12 medium-4 medium-offset-1 large-offset-0 large-6 cell" data-aos="fade-right">
          <img src="{{page.manifesto-01-image}}" alt="Manifesto" data-aos="fade-up" data-aos-delay="250"/>
          <img src="{{page.manifesto-02-image}}" alt="Manifesto" data-aos="fade-up" data-aos-delay="250"/>
      </div>
      
      <div class="small-12 medium-5 large-5 medium-offset-1 large-offset-0 cell" data-aos="fade-left">
        
        <div class="grid-x">
        <div class="small-12 cell">
        <h1>Manifesto</h1>
        <h2>A Lad is an <span class="black">Everyday</span> <span class="red">Hero</span></h2>
        <p>A positive person who buzzes off life’s universal joys. Being a LAD has nothing to do with age, gender or class, it’s about being an individual who thrives on humour, community — treating others right and being treated right by others.</p>
        </div>
        </div>
        
        <div class="grid-x">
        <div class="small-12 cell">
        <img src="{{page.manifesto-03-image}}" alt="Manifesto" data-aos="fade-up" data-aos-delay="250"/>
        </div>
        </div>
        
      </div>
      
    </div>
    
</section>
<!-- End Manifesto  -->


<!-- Stats -->
<section class="stats" style="background-image: url({{page.stats-image}})">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle" style="height: 100%;">
    <div class="small-12 medium-8 cell text-center" data-aos="fade-up">
      <h2>A LAD is everyone in our <span>5 Billion+</span> Community who consumes our content</h2>
    </div>
  </div>
</section>
<!-- End Stats  -->


<!-- Content -->
<section class="content">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
    
      <div class="small-12 medium-4 medium-offset-1 cell" data-aos="fade-right">
        <h1>Our Content</h1>
        <h2>We're Charging <span class="red">Pop Culture</span></h2>
        <p>Sure, we may love the poetry that is a dank meme, or a bit of a laugh, but we also make no apologies when it comes to tackling the issues.</p>
      </div>
    
      <div class="small-12 medium-5 medium-offset-1 cell" data-aos="fade-left">
      <img src="{{page.content-image}}" alt="Who Are We?"/>
      </div>
    
    </div>
  </div>
</section>
<!-- End Content  -->
          
          
<!-- Case Study One -->
<section class="case-one">
          
  <div class="grid-x grid-padding-x case-one__video align-center">
    <div class="small-12 medium-10 cell video__item">
        
      <div class="item video-gallery" id="video-gallery">
        <a href="https://www.youtube.com/watch?v=jKuGk7dvods">
        <img src="/uploads/rnli.jpg">
        <div class="item__title">
        <div class="grid-y align-middle align-center text-center" style="height: 100%">
          <div class="cell">
            <div class="play"><svg class="icon icon-play"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play"></use></svg></div>
            <svg class="icon icon-rnli-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-rnli-logo"></use></svg>
          </div>
        </div>
        </div>
        </a>
      </div>
      
    </div>
  </div>
  
  <video autoplay loop="true" muted>
    <source src="assets/videos/case-one.mp4" type="video/mp4">
    <source src="assets/videos/case-one.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>
  
</section>
<!-- End Case Study One  -->


<!-- Case Study Two -->
<section class="case-two">
  
  <div class="grid-x grid-padding-x align-bottom">
      <div class="small-12 medium-6 cell">
        <svg class="icon icon-uokm8-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-uokm8-logo"></use></svg>
      </div>
      <div class="small-12 medium-6 cell">
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      </div>
  </div>
  
  <div class="grid-x grid-padding-x">
      
      <div class="small-12 cell case-two__video">
        <div class="responsive-embed widescreen video-gallery">
          <a href="https://www.youtube.com/watch?v=bzQYazKLkNc">
          <video autoplay loop="true" muted>
          <source src="assets/videos/uokm8.mp4" type="video/mp4">
          <source src="assets/videos/uokm8.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>
          </a>
        </div>
      </div>

  </div>
</section>
<!-- End Case Study Two  -->


<!-- Thanks -->
<section class="thanks" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{page.thanks-image}})">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle" style="height: 100%;">
    <div class="small-12 medium-8 cell text-center" data-aos="fade-up">
      <h2><span class="white">Thanks!</span></h2>
    </div>
  </div>
</section>
<!-- End Thanks  -->